<div class="product">
    <h3 class="product-title">
        <%= @product.name %>
    </h3>
    <h4 class="product-category">
        <strong><%= @product.category.name %></strong>
    </h4>
    <span class="product-price">$<%= @product.price %></span>
</div>