<div class="product">
    <h3 class="product-title">
        <%= @product.name %>
    </h3>
    <h4 class="product-category">
        <strong>Категория: <%= @product.category.name %></strong>
    </h4>
    <h4 class="product-city">
        <strong>Город: <%= @product.city %></strong>
    </h4>
    <span class="product-price">$<%= @product.price %></span>
    <p>--------</p>
</div>